@import 'reset';
@import 'fonts';
@import 'variables';

html, body {
    font-family: $fuente-principal;
    font-size: 100%;
    line-height: 110%;
    color: $color-negro;
    background-color: $color-blanco;
}

.site-wrapper {}//.site-wrapper

.inner-wrapper {}//inner-wrapper

@import 'footer';
@import 'nav';
@import 'header';

@import 'servicios';
@import 'equipo';
@import 'contacto';




