/*FUENTES*/
$fuente-principal: 'Raleway', sans-serif;

/*COLORES*/
$color-blanco: #fff;
$color-negro: #333;

/*TIEMPO*/
$transitionSpeed: .5s;

/*GRID OPTIONS*/
$xs: 576px; //<576px
$sm: 768px; //<768px
$md: 992px;
$lg: 1200px; //<1200px
$xlg: 1500px;

$paddingSize: 1rem;
$paddingSizeSM: 1rem;
$paddingSizeMD: 1rem;
$paddingSizeLG: 1rem;
$paddingSizeXLG: 1rem;